{% extends "base.html" %}


{% block title %}Board {{board.name}}&gt;{{column.name}}&gt;{{note.name}}{% endblock %}

{% block content %}
    <h1>{{board.name}}&gt;{{column.name}}&gt;{{note.name}}</h1>
    <p>
        {{note.text}}
    </p>
    
    <form action="/{{board.id}}/{{column.id}}/{{note.id}}/" method="post">
        <input type="text" name="name">
        <textarea name="text"></textarea>
        <input type="number" name="column_id" value="{{column.id}}">
        <input type="hidden" name="request-type" value="put">
        <button type="submit">Change Note</button>
    </form>
{% endblock %}